@model IEnumerable<almacen.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias Productos</h1>

<p>
    <a asp-action="Create">Nueva Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Actualizar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
